:root{
    --dark-color: #19283f;
    --secondary-color: #ee88b7;
    --transparent-color:#19283fb5;
    --number-color:rgba(221, 218, 218, 0.871);
}
body{
    font-family: 'Open Sans', sans-serif;
}
.main-btn{
    background-color:var(--transparent-color);
    color: white;
    font-weight:bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.text-color{
    color: var(--transparent-color);
    font-weight: bold;
}
.heading-color{
    color: var(--dark-color);
    font-weight: bold;
    transition: 0.3s;
}
.main-title{
    transition: 0.5s;
}
.main-title img:hover{
    transform: scale(1.1);
}
.main-title::after{
    content: "";
    position: absolute;
    width: 120px;
    height:2px ;
    background-color: var(--secondary-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Navbar */
.navbar{
    background-color:var(--dark-color);
}
.navbar img{
    width: 50px;
}
.navbar .navbar-nav .nav-link{
    color:var(--secondary-color);
}
.navbar .navbar-nav .nav-link.active , 
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: white;
}
.navbar .navbar-toggler{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 25px;
} 
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
   border-color: white;
}
.navbar .search {
    border-left: 1px solid white;
}
.navbar .search svg{
    color: var(--secondary-color);
}
.navbar .container .btn{
    background-color: white;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin-left: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
}
.navbar .container .btn:hover{
    color: var(--dark-color);
    border-color: var(--dark-color);
}
@media(max-width:767px){
    .navbar .container .btn{
        margin: 0;
    }
}
/* End Navbar */
/* Start landing */
.landing{
    background-image: url(../Imgs/landding.jpg);
    background-size: cover;
    height: calc(100vh - 76px);
}
.subscribe .btn:hover,
.blog .btn:hover,
.project .btn:hover,
.stuff .btn:hover,
.ourwork .btn:hover,
.landing .main-btn:hover{
    background-color: var(--transparent-color);
    color: var(--secondary-color);
    border-color: var(--dark-color);
}
/* End landing */
/* start features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--number-color);
}
.features .icon-holder .icon1 ,
.features .icon-holder .icon2 ,
.features .icon-holder .icon3 
{
    color: var(--secondary-color);
    transition: 0.3s;
}
.features .icon-holder .icon1:hover ,
.features .icon-holder .icon2:hover ,
.features .icon-holder .icon3:hover 
{
    transform:rotate(45deg);
}
.landing h1:hover ,
.features .feat h4:hover{
    color: var(--secondary-color);
    transform:  scale(1.1);
}
/* End features */
/* Start Ourwork  */
.ourwork{
    background-color: var(--number-color);
}

.ourwork ul li{
    padding: 0.5rem 1rem;
}
.ourwork ul li:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
.ourwork .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.ourwork .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: var(--transparent-color);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.ourwork .box:hover::before{
    transform: translateX(0);
}
/* End ourwork */
/* Start Stuff */
.stuff .description{
    max-width: 500px;
    padding-bottom: 100px;
}
.stuff .row h3:hover{
    color: var(--secondary-color);
}
.stuff image:hover{
    transform: rotate(45deg);
}
/* End Stuff */
/* Start team  */
.team{
    background-color: var(--number-color);
}
.team .box img{
    border-bottom: none;
}
.team .box {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}
.team .box h4{
    color: var(--secondary-color);
    transition: 0.3s;
}
.team .box h4:hover{
    color: var(--dark-color);
}
.team h2:hover{
    transition: 0.3s;
    color: var(--secondary-color);
}
/* End team  */
/* Start Techno */
.techno img:not(.mb-4){
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    transition: 0.5s;
}
.techno img:hover{
    transform: scale(1.1) rotate(3deg);
}
@media(max-width:767px){
    .techno img:hover{
        transform: none;
    } 
}
/* End Techno */
/* Start Project */
.project{
    background-color: var(--number-color);
}
.project h2{
    color: var(--dark-color);
    font-weight: bold;
}
/* End Project */
/* Start blog  */
.blog .card{
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s;
}
.blog .card:hover{
    transform: scale(1.1);
}
/* End blog  */
/* Start subscribe */
.subscribe{
    background-color: var(--secondary-color);
}
.subscribe input[type="mail"]{
    border: none;
    border-bottom: 1px solid var(--dark-color);
}
.subscribe input[type="mail"]:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: var(--transparent-color);
}
/* End subscribe */
/* Start footer */
.footer{
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--secondary-color);
}
.footer .copyright div span {
    color: white;
}
.footer  h5{
    color: white;
    transition: 0.3s;
}
.footer h5:hover{
    color: var(--secondary-color);
}
.footer .contact .btn{
    background-color: var(--secondary-color);
    color: var(--dark-color);
    transition: 0.3s;
}
.footer .contact .btn:hover{
    color: white;
}
.footer .contact ul svg{
    width: 25px;
    height: 25px;
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0077b5;
}
.footer .youtube{
    background-color: #ff0000;
}
/* End footer */
